<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arron Rees | Photography</title>
</head>

<body>

  <header class="header">

    <h1 class="title"><a href="./index.html">Arron <br class="mob-title">Rees</a></h1>

    <nav>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>

    </nav>

    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>

  </header>

  <main class="about-main">

    <section class="hero">
      <div class="hero-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam magni blanditiis adipisci minima
          sunt, natus ex est, non nesciunt perspiciatis earum veritatis saepe rem maxime ipsum accusantium
          cupiditate quos aliquid! Minima, dolorem iste? Ad iusto error ipsum neque, quasi nostrum itaque,
          amet eos optio, explicabo omnis nihil repudiandae doloribus!</p>
      </div>

      <div class="hero-img">
        <img src="../assets/img/about-img.jpg" alt="Arron Rees">
      </div>
    </section>

  </main>

</body>

</html>