<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arron Rees | Photography</title>
</head>

<body>

  <header class="header">

    <h1 class="title"><a href="./index.html">Arron <br class="mob-title">Rees</a></h1>


    <nav>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>

    </nav>

    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>

  </header>

  <main>
    <section class="contact-form">
      <form>
        <label for="name">Name</label>
        <input class="input-name" type="text" name="name" id="name" required>
        <label for="email">Email</label>
        <input class="input-email" type="email" name="email" id="email" required>
        <label for="message">Message</label>
        <textarea required name="message" id="message" cols="30" rows="20"></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>
  </main>

</body>

</html>