<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arron Rees | Photography</title>
</head>

<body class="home-body">

  <header class="home-header">
    <h1>AR</h1>
    <h2>Photo</h2>
  </header>

  <main class="home-main">
    <img class="chevron" src="../assets/icons/chevron.svg" alt="#">
    <nav>
      <ul class="home-nav-menu">
        <li class="home-nav-item">
          <a href="./about.html">About</a>
        </li>
        <li class="home-nav-item">
          <a href="./work.html">Work</a>
        </li>
        <li class="home-nav-item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </main>

</body>

</html>