<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arron Rees | Photography</title>
</head>

<body>

  <header class="header">

    <h1 class="title"><a href="./index.html">AR Photo</a></h1>

    <nav>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>

    </nav>

    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>

  </header>

  <main>

    <section class="photo-grid">


      <div class="card">
        <img class="img-card" src="../assets/img/16.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/9.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/13.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/5.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/2.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/19.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/6.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/7.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/11.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/8.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/20.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/17.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/14.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/10.jpg">
      </div>

      <div class="card">
        <img class="img-card" src="../assets/img/4.jpg">
      </div>

    </section>

  </main>

  <footer>

    <a href="#top"><img class="to-top-arrow" src="../assets/icons/chevron.svg"></a>

  </footer>

</body>

</html>