<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arron Rees | Photography</title>
</head>

<body>

  <header class="header">

    <h1 class="title"><a href="./index.html">Arron <br class="mob-title">Rees</a></h1>


    <nav>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a href="./contact.html">Contact</a>
        </li>
      </ul>

    </nav>

    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>

  </header>

  <main>

    <section class="photo-grid">

      <div style="background-image: url(../assets/img/1.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/2.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/3.jpg);" class="card">
      </div>
      <div style="background-image: url(../assets/img/4.jpg);" class="card">
      </div>
      <div style="background-image: url(../assets/img/5.jpg);" class="card card-wide">
      </div>
      <div style="background-image: url(../assets/img/6.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/7.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/8.jpg);" class="card md-card-wide">
      </div>
      <div style="background-image: url(../assets/img/9.jpg);" class="card card-tall card-wide">
      </div>
      <div style="background-image: url(../assets/img/10.jpg);" class="card">
      </div>
      <div style="background-image: url(../assets/img/11.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/12.jpg);" class="card">
      </div>
      <div style="background-image: url(../assets/img/13.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/14.jpg);" class="card">
      </div>
      <div style="background-image: url(../assets/img/15.jpg);" class="card card-tall md-card">
      </div>
      <div style="background-image: url(../assets/img/16.jpg);" class="card card-wide">
      </div>
      <div style="background-image: url(../assets/img/17.jpg);" class="card md-card-tall">
      </div>
      <div style="background-image: url(../assets/img/18.jpg);" class="card card-tall">
      </div>
      <div style="background-image: url(../assets/img/19.jpg);" class="card card-tall card-wide">
      </div>
      <div style="background-image: url(../assets/img/20.jpg);" class="card md-card-wide">
      </div>

    </section>

  </main>

  <footer>

    <a href="#top"><img class="to-top-arrow" style="display: none;" src="../assets/icons/chevron.svg"></a>

  </footer>

</body>

</html>