.title,
.nav-menu {
  font-size: 2rem;
  color: white;
}

.nav-menu {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .title {
    display: none;
  }
  .nav-menu {
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
  .header {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    padding: 0 2rem;
  }

  .burger {
    right: 2rem;
  }
}
