@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

body {
  font-family: 'Belleza', sans-serif;
  overflow: hidden;
  letter-spacing: 0.5rem;
  background: #000;
}

a {
  text-decoration: none;
  color: currentColor;
}

.nav-menu-open {
  overflow-y: hidden;
}
